/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Jan-2021, 17:45:24
    Author     : fae60
*/
/* MOO 1813 move code to css */
.wms-head-cll{
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem!important;
    margin-bottom:6px;
    width: 55vw;
    background-color: transparent;
}

.tab_content_background{
    background-color: navy;
    min-height: 25px;
    background-repeat: repeat;
    background-position:right top;
    background-size: cover;
    background-image: url("pix/banner.jpg");
    padding-top: 3px;
}

.background-set{
    background-color: #e2f3fb;
}

.war-bot{
    background: url('https://warwick.ac.uk/study/cll/currentstudents/bot-w-white-bluerun-cll.png') no-repeat right bottom; 
    min-height: 50px;
}

.rounded{
    background-color:#e2f3fb;
    background-repeat: no-repeat, no-repeat;
    background-position:right bottom, right top;
    min-height: 320px;
    overflow:auto;
}

.standard_rounded{
    background-color:transparent;
    min-height: 220px;
    overflow:auto;
}

.tab-container-tabs{
    background-color: transparent;
    min-height: 220px;
}

.paragraph-list{
    text-align: justify;
    font-size: 0.9em;
    padding-left: 1em;
    padding: 0.06em;
    line-height: 1.5 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
}

.bulletlist{
    list-style-position: outside;
    list-style-type: disc; 
    display: list-item; 
}

.bulletcircle{
    list-style-position: outside;
    list-style-type: circle;
    display: list-item;
}
.italized{
    font-style: italic;
}

.bolded_italized{
    font-style: italic;
    color: #002f8f;
}

.normal_paragraph{
    line-height: 1.0;
}

.bolded{
    font-weight: bold;
    font-size: 1.1em;
}

/* MOO-1815 Improving appearance*/
.course-cde{
    color:#3B5998; 
    letter-spacing:-1px;
    font-weight:400;
    line-height:1.1em;
}

.display-5 {
    color: #0A246A;
}

.justified{
    text-align: justify;
}

.indented{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.alertinformation:empty {
    display: none;
    visibility: hidden; 
}

.font_small{
    font-size: 0.90em;
}

/* MOO 1935 implementation see more*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  color: white;
  background: #00407A;
  font-size: .9em;
  line-height: 1.5;
  border: 1px solid rgba(0, 162, 38, 0.55);
  border-radius: .25em;
  width: 100px;
  text-align: center;
}


.read-more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.read-more-toggle {
  display: none;
}

.read-more-toggle-label {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: .5em;
  font-size: .8em;
  background: #000080;
  color: white;
  
}

.read-more-toggle-label:after {
  content: "More";
  display: inline-block;
}

.read-more-toggle:checked + .read-more-content {
  display: block;
  /* css animation won't work with "auto"; set to some height larger
	than the content */
  max-height: 1000px;
}

.read-more-toggle:checked + .read-more-content + .read-more-toggle-label:after {
  content: "Less";
}

.article {
  border-bottom: 1px solid grey;
}

/* MOO 1983 Added code for disclosure*/
.jumbotron {
    margin-bottom: 1rem;
    background-color: white;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
}

.alertinformation {
    font-size: 0.88em;
    background-color: #00407A;
    text-align: justify;
    padding: 15px; 
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #86A5EC;
    margin-bottom: 10px;
    color: white;
    width: 98%;
}

/* MOO 2019 made changes to table 2 columns on first tab*/

.head-img-inner{
    max-width: 20%;
    float: right;
    margin-right: .3rem;
    margin-left: .3rem;
}

.head-img-outer{
    max-width: 50%;
    float: left;
    margin-right: .5rem;
    margin-left: .5rem;
}

.imageposition{
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 40px rgb(0 0 0 / 10%) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 0 40px rgb(0 0 0 / 10%) inset;
}
.alertlink{
    color: white;
    text-decoration: underline;
}

.column {
    float: left;
    width: 50%;
    word-wrap: break-word;
}
.leftcol {
    color: navy;
    font-weight: bold;
    width: 40%
}

.font_large{
    font-size: 15px;
}

.textcolumn{
    padding-left: 30px; 
    padding-right: 30px
}

.rightcol{
    font-style: italic;
    width: 60%
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hometab {
    width: auto;
    padding: 15px;
    margin: 15px;
}

/* MOO 2019 made changes to table 2 columns on first tab*/

/* MOO 1849 presentation*/
.fancy-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    padding: 8px;
    empty-cells:initial;
    border: 1px solid #ddd;
    background-color: #def2f8;
}


@media screen and (max-width: 500px) {
    
  .fancy-table {
      font-size: x-small;
      width: 150px;
      overflow-x: scroll;
  }
  .indented{padding-left: 2px;}
  
  .column {
        width: 80%;
        word-wrap: break-word;
    }
      
    .fancy-table th {
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        background-color: #000066;
        color: white;
    }
/*MOO 2163 Introduced footer row table*/
    .fancy-table tfoot{
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        background-color:#e2f3fb;
        color: darkblue;
    }
}

.fancy-table td {
    border: 1px solid #ddd;
    padding: inherit;
}

.fancy-table th{
    border: 1px solid white;
    padding: inherit;
}

.fancy-table th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #000066;
    color: white;
}
/*MOO 2163 Introduced footer row table*/
.fancy-table tfoot{
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color:#e2f3fb;
    color: darkblue;
}

.fancy-table tr{
    padding: 3px;
}

.fancy-table tr:nth-child(odd) {
  background-color: white;
}

.fancy-table tr:hover {
    background-color: #def2f8;
}

/* MOO 2162 introduce code for collapsible tabs */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(-90deg);
}

.card{
    margin-top: 2px;
}

.mod-indent mod-indent{
    width: 0px;
}

/*MOO-2373 fixed more functionality to fix issue of multiple occurences*/
#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after  {
    content: '+ Read More';
    background-color: navy;
}

#summary a:not(.collapsed):after {
    content: '- Read Less';
    background-color: navy;
}


.urllinks{
    font-size: small;
    font-style: italic;
}

.par_small{
    margin-top: 0.8em;
}


/*MOO-2419 changes for table to be rendered in mobile devices */
