/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Jan-2021, 17:45:24
    Author     : fae60
*/
/* MOO 1813 move code to css */
.wms-head-cll{
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
    border-top: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem!important;
    background:#e2f3fb;
    margin-bottom:6px;
}

.rounded{
    background-color:#e2f3fb;
    background-image:url('https://warwick.ac.uk/study/cll/currentstudents/headtemp1-bot-bg.png'), url('https://warwick.ac.uk/study/cll/currentstudents/headtemp1-tophead-bg.png');
    background-repeat: no-repeat, no-repeat;
    background-position:right bottom, right top;
    min-height: 320px;
    overflow:auto;
}

.war-bot{
    background: url('https://warwick.ac.uk/study/cll/currentstudents/bot-w-white-bluerun-cll.png') no-repeat right bottom; 
    min-height: 50px;
}

.top-headbox{
    background-color:transparent;
}

.top-headbox{
    padding-top: 9px;
}

.nav-link active show{
    color:#fff;
    margin-top:7px;
    height:40px;
    margin-left:3px;
    font-size: .9375rem;
    font-weight: 400;
}

.nav-link{
    display: block;
    padding: .5rem 2rem;
}

.p-3 p-md-4 view{
    background-color: transparent; 
    padding-top: 2.0rem!important; 
    padding-bottom: 1.2rem !important;
    min-height:240px;
}

.contact{
    width: auto;   
    background-color: rgba(255,255,255,.8); 
    padding: 15px; margin:15px; 
    min-height:240px;
    border-radius: 10px;
    box-shadow: 7px 7px #d2edf9;
    border-width: 1px;
    border-style: solid;
    border-color: #86A5EC;
}

.contact-icon{
    padding:10px 10px 0px 10px; 
    letter-spacing:-1px;
}

.contact-info{
    padding:0px 10px;
    font-size: 1.1em;
}

.tabcolor{
    width: auto;
    padding: 15px;
    margin: 15px;
    min-height: 300px;
}

.paragraph-list{
    text-align: justify;
    font-size: 0.9em;
    padding: 0.02em;
    line-height: 2 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
}

.bulletlist{
    list-style-position: outside;
    list-style-type: disc; 
    display: list-item; 
}
.italized{
    font-style: italic;
}

.bolded_italized{
    font-style: italic;
    color: #002f8f;
}

.bolded{
    font-weight: bold;
    font-size: 1.1em;
}

/* MOO-1815 Improving appearance*/
.course-cde{
    color:#3B5998; 
    letter-spacing:-1px;
    font-weight:400;
    line-height:1.1em;
}

.display-5 {
    color: #0A246A;
}

.normal-paragraph{
    text-align: justify;
}

.indented{
    padding-left: 25px;
}

.alertinformation:empty {
    display: none;
    visibility: hidden; 
}

@media 
only screen and (max-width: 500px),
(min-device-width: 0px) and (max-device-width: 475px)  {
 
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
        
        th {
            padding-top: 3px;
            padding-bottom: 3px;
            text-align: justify;
            background-color: #86A5EC;
            color: white;
            empty-cells:initial;
        }
	
	tr { border: 1px solid #ddd; padding: 3px; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #ddd; 
		position: relative;
		padding-left: 50%;
                font-size-adjust: 0.58;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}

/* MOO 1935 implementation see more*/
.read-more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.read-more-toggle {
  display: none;
}

.read-more-toggle-label {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: .5em;
  font-size: .8em;
  background: #0066CC;
  color: white;
}

.read-more-toggle-label:after {
  content: "More";
  display: inline-block;
}

.read-more-toggle:checked + .read-more-content {
  display: block;
  /* css animation won't work with "auto"; set to some height larger
	than the content */
  max-height: 1000px;
}

.read-more-toggle:checked + .read-more-content + .read-more-toggle-label:after {
  content: "Less";
}

article {
  border-bottom: 1px solid grey;
}

/* MOO 1983 Added code for disclosure*/
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e8f2ff;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
}

.alertinformation {
    font-size: 0.88em;
    background-color: #c5f2ef;
    text-align: justify;
    padding: 15px; 
    border-radius: 10px;
    box-shadow: 7px 7px #acece8;
    border-width: 1px;
    border-style: solid;
    border-color: #86A5EC;
    margin-bottom: 10px;
}

/* MOO 2019 made changes to table 2 columns on first tab*/
.column {
  float: left;
  padding-right: 2px;
  text-align: right;
  color: grey;
  padding: 5px;
}

.rightcolumn {
  float: left;
  padding-left: 20px;
  padding: 5px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 470px) {
    .column {
        float: left;
        padding-right: 2px;
        color: grey;
        padding: 5px;
        font-size: 0.9em;
    }
    
    .rightcolumn {
        float: left;
        padding-left: 2px;
        padding: 5px;
        font-size: 0.9em;
    }
    
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hometab {
    width: auto;
    padding: 15px;
    margin: 15px;
}

/* MOO 2019 made changes to table 2 columns on first tab*/

/* MOO 1849 presentation*/
.fancy-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: small;
    border-spacing: 0;
    empty-cells:initial;
    border: 1px solid #ddd;
}

.fancy-table td, fancy-table th {
    border: 1px solid #ddd;
    padding: inherit;
}

.fancy-table th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #86A5EC;
    color: white;
}

.fancy-table tr{
    padding: 3px;
}

.fancy-table tr:nth-child(odd) {
  background-color: #e2f3fb;
}

.fancy-table tr:hover {background-color: #def2f8;}