<head>
    <link rel="stylesheet" type="text/css" />
</head>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5"> {{ code }}: {{ name }}</h1>
    <p class="lead">{{ principal_aims }}</p>

    <p>
	<H5>Outline Syllabus</H5>
	    {{ outlineSyllabus }}
    </p>
	<p>
	<H5>Principal Learning Outcomes</H5>
	    <ul>
	    <li> {{ learningOutcome0 }} </li>
	    <li> {{ learningOutcome1 }} </li>
	    <li> {{ learningOutcome2 }} </li>
	    <li> {{ learningOutcome3 }} </li>
            <li> {{ learningOutcome4 }} </li>
            <li> {{ learningOutcome5 }} </li> 
	    </ul>
            
	</p>
	<H6>Additional information</H6>
	<p>
	    <ul class="unstyled">
	    <li>Module leader: {{ leadername }} - email <a href="mailto:{{ leaderemail }}">{{ leaderemail }} </a></li>
	    <li>Lectures: Monday 9am L3, Tuesday 10am OC0.03, Wednesday 3pm GLT1</li>
	</p>
    <H6>Indicative Reading List</H6>
    {{ indicativeReadingList }}  <a href= {{ readingListUrl }} > {{ readingListUrl }} </a></li>

  </div>
</div>
