<head>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>
<style>
@media screen and (min-width: 500px){
      
    .nav-tabs .nav-link {
        color: white;
    }

}

@media screen and (max-width: 500px){
    .row {
        display: block;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
	display: block;
	}

    /* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
	}

    	tr {
            margin: 0 0 1rem 0;
    	}
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

      
    tr:nth-child(odd) {
      	background: #ccc;
    }
    
    td {
        /* Behave  like a "row" */
	border: none;
	position: relative;
	padding-left: 50%;
    }

    td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 0;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
    }	
}
</style>

<body>
<div id="allwmshead" class="wms-head-cll background-set" >
    <div id="head-temp-container" class="rounded"  >

        <div class="tab-content" id="v-pills-tabContent" >
            <div id="top-headbox" style="background-color:transparent; overflow:hidden">
                <ul style="list-style: none;" class="nav nav-tabs tab_content_background" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="false" tabindex="-1">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-Assessment-tab" data-toggle="pill" href="#pills-Assessment" role="tab" aria-controls="pills-Assessment" aria-selected="false" tabindex="-1">Assessment / Study Requirements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Contacts</a>
                    </li>
                    
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                        <div id="wmshead-content" class="p-3 p-md-4 view">                          
                            {{#alert}}<div class="alertinformation">
                                {{#alertmessage}}<i class="fa fa-info-circle"> &nbsp </i>{{.}}{{/alertmessage}} <a class="alertlink" href= {{ urllink }} > {{ urllink }} </a> 
                                </div>{{/alert}}

                            <h2 class="course-cde">{{ code }}: {{ name }}</h2>
                            <p class='urllinks'> <a href= '{{catalogueurl }}'>See full module catalogue entry </a></p>
                            <hr>
                                                      
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="column" style="padding-right: 30px" >
                                        <div class="row">
                                            <h5 class="course-cde"> Academic Year: &nbsp {{academicyear}} </h5>
                                        </div>
                                        <div class="row">
                                            <h5 class="course-cde"> Number of Credits: &nbsp {{creditValue}} </h5>
                                        </div>
                                        <div class="row">
                                            <p class="display-5 bolded">Introductory Description</p>
                                            <div class="indented font_small">
                                                    {{#introductoryDescription}} <p class="justified"> {{.}} </p> {{/introductoryDescription}}
                                            </div>                                             
                                        </div>
                                    </div>
                                    <div class="column">
                                            
                                        <div class="row">
                                            <div class="column leftcol">Department:</div>
                                            <div class="column rightcol">{{department}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="column leftcol">Level:</div>
                                            <div class="column rightcol">{{levelname}}</div>
                                        </div>
                                        {{#leadername}}<div class="row">
                                            <div class="column leftcol">Module leader:</div>
                                            <div class="column rightcol">{{leadername}}</div>
                                        </div>{{/leadername}}
                                        {{#duration}}<div class="row">
                                            <div class="column leftcol">Module duration:</div>
                                            <div class="column rightcol">{{duration}}</div>
                                        </div>{{/duration}}
                                        <div class="row">
                                            <div class="column leftcol">Location:</div>
                                            <div class="column rightcol">{{locationname}}</div>
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                        <div class="p-3 p-md-4 view">
                            <div class="bolded_italized">
                                <h4 class="course-cde" >{{ code }}: {{ name }}</h4>
                            </div>

                            <div class="accordion-toggle" id="accordionEx" role="tablist" aria-multiselectable="true">

                                <div class="card">
                                    <div class="card-header" role="tab" id="heading1">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id1}}" aria-expanded="false" aria-controls="{{id1}}">
                                            <h6 class="mb-0">
                                                Module Aims <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div id="{{id1}}" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Module Aims</p>
                                                <div class="indented">
                                                    {{#principal_aims}} <p class="paragraph-list"> {{.}} </p> {{/principal_aims}}
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" role="tab" id="heading2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id2}}" aria-expanded="false" aria-controls="{{id2}}">
                                            <h6 class="mb-0">
                                                Principal Learning Outcomes <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div id="{{id2}}" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Principal Learning Outcomes</p>
                                            <p> By the end of the module, students should be able to:</p>
                                            <div class="indented">
                                                {{#learningOutcomes}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/learningOutcomes}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="card">
                                    <div class="card-header" role="tab" id="heading3">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id3}}" aria-expanded="false" aria-controls="{{id3}}">
                                            <h6 class="mb-0">
                                                Indicative Reading List <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>

                                    <div id="{{id3}}" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Indicative Reading List</p>
                                            <div class="indented">
                                                <input type="checkbox" class="read-more-state" id="{{id4}}">
                                                    <div class="read-more-wrap " style="text-align: left"> {{#indicativeReadingListSummary}} <p class='paragraph-list bulletlist'>{{.}}</p> {{/indicativeReadingListSummary}}
                                                    <span class="read-more-target"> {{#indicativeReadingList}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/indicativeReadingList}}</span>
                                                </div>
                                                {{#indicativeReadingListQty}}<label for="{{id4}}" class="read-more-trigger"></label>{{/indicativeReadingListQty}}
                                                {{#readingListUrl}}<div class="italized"><a href='{{ readingListUrl }}'>View reading list on Talis Aspire</a></div>{{/readingListUrl}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="card">
                                    <div class="card-header" role="tab" id="heading4">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id5}}" aria-expanded="false" aria-controls="{{id5}}">
                                            <h6 class="mb-0">
                                                Subject Specific Skills <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div id="{{id5}}" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Subject Specific Skills</p>
                                            <div class="indented">
                                                <div class="indented">{{#subjectSpecificSkills}} <p class="paragraph-list"> {{.}} </p> {{/subjectSpecificSkills}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" role="tab" id="heading5">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id6}}" aria-expanded="false" aria-controls="{{id6}}">
                                            <h6 class="mb-0">
                                                Transferable Skills <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div id="{{id6}}" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Transferable Skills</p>
                                            <div class="indented">
                                                <div class="indented">{{#transferableSkills}} <p class="paragraph-list"> {{.}} </p> {{/transferableSkills}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-Assessment" role="tabpanel" aria-labelledby="pills-Assessment-tab">
                        <div class="p-3 p-md-4 view">
                            <div class="accordion-toggle" id="accordionEx" role="tablist" aria-multiselectable="true">
                                <!-- Accordion card -->
                                
                                <div class="card">
                                    <div class="card-header" role="tab" id="heading7">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id7}}" aria-expanded="false" aria-controls="{{id7}}">
                                            <h6 class="mb-0">
                                                Assessment Schedule <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div id="{{id7}}" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Assessment Schedule</p>
                                            <div class="indented">
                                                <section>
                                                <table class="fancy-table">
                                                    <tr>
                                                        <th> Assessment Name </th>
                                                        <th> Assessment Type </th>
                                                        <th> Duration </th>
                                                        <th> Weight </th>
                                                        <th> Description </th>
                                                    </tr>
                                                    {{#assessments}}<tr>
                                                        <td> {{type}} </<td>
                                                        <td> {{name}} </<td>
                                                        <td> {{ length }} </<td>
                                                        <td> {{ weighting }} </<td>
                                                        <td> {{ description }} </td>
                                                    </tr>{{/assessments}}                                      
                                                </table>
                                                <p class="paragraph-list"> You do not need to pass all assessment components to pass the module.</p>
                                                <p class="paragraph-list"> Students can register for this module without taking any assessment.</p>
                                            </section>                                                
                                            </div>
                                            <p class="display-5 bolded">Assessment Resit Schedule</p>
                                                <div class="indented">
                                                    <table class="fancy-table">
                                                        <tr>
                                                            <th> Assessment Name </th>
                                                            <th> Assessment Type </th>
                                                            <th> Duration </th>
                                                            <th> Weight </th>
                                                            <th> Description </th>
                                                        </tr>
                                                        <tr>{{#resit}}
                                                            <td> {{ type }} </td>
                                                            <td> {{ name }} </td>
                                                            <td> {{ length }} </td>
                                                            <td> {{ weighting }} </<td>
                                                            <td> {{ description }} </td>
                                                        {{/resit}}</tr>                                 
                                                    </table>
                                                </div>
                                            <p class="display-5 bolded">Assessment Summary</p>
                                            <div class="indented">
                                                {{#assessmentstotalExamWeighting}}<div class="row">
                                                    <div class="col-sm-2 bolded_italized font_small">Total Exam Weight:</div>
                                                    <div class="col-sm-2 italized font_small">{{assessmentstotalExamWeighting}} %</div>
                                                        </div>{{/assessmentstotalExamWeighting}}
                                                        {{#assessmentstotalCourseworkWeighting}}<div class="row">
                                                    <div class="col-sm-2 bolded_italized font_small">Total Course Weight:</div>
                                                        <div class="col-sm-2 italized font_small ">{{assessmentstotalCourseworkWeighting}} %</div>
                                                        </div>{{/assessmentstotalCourseworkWeighting}}
                                                        {{#resittotalExamWeighting}}<div class="row">
                                                        <div class="col-sm-2 bolded_italized font_small">Total Resit Exam Weight:</div>
                                                    <div class="col-sm-2 italized font_small ">{{resittotalExamWeighting}} %</div>
                                                        </div>{{/resittotalExamWeighting}}
                                                            {{#resittotalCourseworkWeighting}}<div class="row">
                                                            <div class="col-sm-2 bolded_italized font_small">Total Resit Course Weight:</div>
                                                        <div class="col-sm-2 italized font_small ">{{resittotalCourseworkWeighting}} %</div>
                                                </div>{{/resittotalCourseworkWeighting}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <div class="card">
                                    <div class="card-header" role="tab" id="heading8">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id8}}" aria-expanded="false" aria-controls="{{id8}}">
                                            <h6 class="mb-0">
                                                Study Requirements <i class="fa fa-chevron-down pull-right"></i>
                                            </h6>
                                        </a>
                                    </div>
                                    <div id="{{id8}}" class="collapse" role="tabpanel" aria-labelledby="heading8" data-parent="#accordionEx">
                                        <div class="card-body">
                                            <p class="display-5 bolded">Study Time</p>  
                                            <div class="indented">
                                            
                                                <table class="fancy-table">
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Description</th>
                                                    <th>Duration</th>
                                                </tr>
                                                {{#studyAmounts}}<tr>
                                                    <td> {{type}} </td>
                                                    <td> {{requiredDescription}}  </td>
                                                    <td> {{requiredDuration}}</td>
                                                </tr>{{/studyAmounts}}                                              
                                                <tfoot>
                                                    <tr>
                                                        <td> Total Study Hours </td>
                                                        <td> {{ totalStudyHours }} Hours </td>
                                                        <td> PT{{ totalStudyHours }} </td> 
                                                    </tr>
                                                </tfoot>
                                                </table>
                                            <p class="display-5 bolded">Private Study:</p>
                                                <div class="indented">
                                                    {{#privateStudyDescription}} <p class="paragraph-list"> {{.}} </p> {{/privateStudyDescription}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <div class="contacts">
                            <h3 style="padding:10px 10px 0px 10px; letter-spacing:-1px;"><i class="fa fa-address-card" aria-hidden="true"> </i><b> Key people and contacts</b></h3>
                            <hr>
                            <div id="head-contact-box" class="my-3 contact-icon">
                                <div class="indented">
                                <table class="fancy-table">
                                    <tr>
                                        <td class="bolded"> Module leader: </td>
                                            <td class="italized">{{ leadername }} </td>
                                        </tr>
                                        <tr>
                                            <td class="bolded"> Module leader email:</td>
                                            <td class="italized"> <a href="mailto:{{ leaderemail }}"> {{ leaderemail }} </a> </td>
                                        </tr>
                                        {{#adminname}}<tr>
                                            <td class="bolded"> Course contact:  </td>
                                            <td class="italized"> {{adminname}} </td>
                                        </tr>{{/adminname}}
                                        {{#adminemail}}<tr>
                                            <td class="bolded">Course contact email:  </td>
                                            <td class="italized"> <a href="mailto:{{ adminemail }}">{{ adminemail }} </a> </td>
                                        </tr>{{/adminemail}}
                                        <tr>
                                            <td class="bolded"> Department: </td>
                                            <td class="italized"> {{ department }} </td>
                                        </tr>
                                        <tr>
                                            <td class="bolded"> Faculty: </td>
                                            <td class="italized"> {{ facultyname }} </td>
                                        </tr>
                                        <tr>
                                            <td class="bolded"> Location: </td>
                                            <td class="italized"> {{ locationname }} </td>
                                        </tr>
                                </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="war-bot" class="war-bot">
</div>
</body>
