<head>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>
<script>
    var css = '#head-img-inner br {display: none !important;} @media only screen and (max-width: 600px) {#head-img-inner { max-width:100% !important; margin-right: 0rem !important; margin-left: 0rem !important;}} #top-headbox a.nav-link:hover{background:#2d96fa !important;} ul.accordion.collapsibletopics{width:100%;} .format-collapsibletopics #section-0 .summarytext{margin: 0 .5rem;} @media only screen and (max-width: 1200px) { #head-temp-container{ background-position:-3300px 0px, right top !important; }}',
        head = document.head || document.getElementsByTagName('head')[0],
        style = document.createElement('style');

    head.appendChild(style);

    style.type = 'text/css';
    if (style.styleSheet) {
        // This is required for IE8 and below.
        style.styleSheet.cssText = css;
    } else {
        style.appendChild(document.createTextNode(css));
    }
</script>
<div id="allwmshead" class="wms-head-cll">
    <div class="tab-container-tabs">
        <nav class="nav nav-tabs nav-justified nav-item_corners tab_content_background">
            <a class="nav-item nav-link active nav-item_corners white_font" data-toggle="tab" href="#home" tabindex="0">Home</a>
            <a class="nav-item nav-link nav-item_corners white_font" data-toggle="tab" href="#menu1" tabindex="1">Description</a>
            <a class="nav-item nav-link nav-item_corners white_font" data-toggle="tab" href="#menu2" tabindex="2">Assessment / Study</a>
            <a class="nav-item nav-link nav-item_corners white_font" data-toggle="tab" href="#menu3" tabindex="3">Contacts</a>
        </nav>
        <div class="tab-content reset_width">
            <div id="home" class="tab-pane active fade in">
                <div id="wmshead-content" class="p-3 p-md-4 view">
                    <div class="alertinformation">{{#alert}}
                        {{#alertmessage}}{{.}}{{/alertmessage}} <a class="alertlink" href= {{ urllink }} > {{ urllink }} </a>
                        {{/alert}}</div>
                    <h3 class="course-cde"> {{ code }} : {{ name }} </h3>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2 column">Academic Year:</div>
                            <div class="col-sm-5 rightcolumn">{{academicyear}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 column">Department:</div>
                            <div class="col-sm-5 rightcolumn">{{department}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 column">Level:</div>
                            <div class="col-sm-5 rightcolumn">{{levelname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 column">Module leader:</div>
                            <div class="col-sm-5 rightcolumn">{{leadername}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 column">Credit value:</div>
                            <div class="col-sm-5 rightcolumn">{{creditValue}}</div>
                        </div>
                        {{#duration}}<div class="row">
                            <div class="col-sm-2 column">Module duration:</div>
                            <div class="col-sm-5 rightcolumn">{{duration}}</div>
                        </div>{{/duration}}
                        <div class="row">
                            <div class="col-sm-2 column">Location:</div>
                            <div class="col-sm-5 rightcolumn">{{locationname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 column">Course URL:</div>
                            <div class="col-sm-5 rightcolumn"><a href='{{ url }}'>{{url}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div id="wmshead-content" class="p-3 p-md-4 view">
                    <h2 class="course-cde" >{{ code }}: {{ name }}</h2>
                    <div class="wrap-collabsible"> 
                        <input id="collapsible1" class="toggle" type="checkbox">
                        <label for="collapsible1" class="lbl-toggle" tabindex="0">Principal Aims </label>
                        <div class="collapsible-content">   
                            <div class="content-inner">
                                <div class="indented">
                                    {{#principal_aims}} <p class="normal-paragraph"> {{.}} </p> {{/principal_aims}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-collabsible"> 
                        <input id="collapsible2" class="toggle" type="checkbox"> 
                        <label for="collapsible2" class="lbl-toggle" tabindex="1">Outline Syllabus </label>
                        <div class="collapsible-content">
                            <div class="content-inner">
                                <p class="normal-paragraph"> This is an indicative module outline only to give an indication of the sort of topics that may be covered. Actual sessions held may differ.</p>
                                <article>
                                    <div class="indented">{{#outlineSyllabusShort}} <p class="paragraph-list"> {{.}} </p> {{/outlineSyllabusShort}}</div>
                                        <input id="read-more-toggle-1" class="read-more-toggle" type="checkbox">
                                        <div class="read-more-content">
                                            <div class="indented">{{#outlineSyllabus}} <p class="paragraph-list"> {{.}} </p> {{/outlineSyllabus}}</div>
                                        </div> 
                                        <label class="read-more-toggle-label" for="read-more-toggle-1">Read </label>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-collabsible">
                        <input id="collapsible3" class="toggle" type="checkbox"> 
                        <label for="collapsible3" class="lbl-toggle" tabindex="2">Principal Learning Outcomes </label>

                        <div class="collapsible-content">
                            <div class="content-inner">
                                <p> By the end of the module, students should be able to:</p>
                                <div class="indented">
                                    {{#learningOutcomes}} <p class="paragraph-list"> {{.}} </p> {{/learningOutcomes}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-collabsible">
                        <input id="collapsible4" class="toggle" type="checkbox">
                        <label for="collapsible4" class="lbl-toggle" tabindex="3">Indicative Reading List </label>

                        <div class="collapsible-content">
                            <div class="content-inner">
                                <div class="row indented">
                                    <div class="col-sm-4 font_small italized">Please see Talis Aspire link for most up to date list.</div>
                                    <div class="col-sm-3 bolded_italized"><a href='{{ readingListUrl }}'>View reading list on Talis Aspire</a></div>
                                </div>
                                <div class="indented">
                                    {{#indicativeReadingList}} <p class="paragraph-list"> {{.}} </p> {{/indicativeReadingList}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div id="wmshead-content" class="p-3 p-md-4 view">
                    <div class="wrap-collabsible">
                        <input id="collapsible5" class="toggle" type="checkbox">
                        <label for="collapsible5" class="lbl-toggle" tabindex="4">Study Requirements </label>

                        <div class="collapsible-content">
                            <div class="content-inner">
                                <p> This is an indicative module outline only to give an indication of the sort of topics that may be covered. Actual sessions held may differ:</p>
                                <section>
                                    <table class="fancy-table">
                                        <tr>
                                            <th> Type </th>
                                            <th> Description </th>
                                            <th> Duration </th>
                                        </tr>
                                        <tr>{{#studyAmounttype0}}
                                            <td> {{ studyAmounttype0 }} </<td>
                                            <td> {{ studyAmountrequiredDescription0 }} </<td>
                                            <td> {{ studyAmountrequiredDuration0 }} </<td>
                                        {{/studyAmounttype0}}</tr>
                                        <tr>{{#studyAmounttype1}}
                                            <td> {{ studyAmounttype1 }} </<td>
                                            <td> {{ studyAmountrequiredDescription1 }} </<td>
                                            <td> {{ studyAmountrequiredDuration1 }} </<td>
                                        {{/studyAmounttype1}}</tr>
                                        <tr>{{#studyAmounttype2}}
                                            <td> {{ studyAmounttype2 }} </<td>
                                            <td> {{ studyAmountrequiredDescription2 }} </<td>
                                            <td> {{ studyAmountrequiredDuration2 }} </<td>
                                        {{/studyAmounttype2}}</tr>
                                        <tr>{{#studyAmounttype3}}
                                            <td> {{ studyAmounttype3 }} </<td>
                                            <td> {{ studyAmountrequiredDescription3 }} </<td>
                                            <td> {{ studyAmountrequiredDuration3 }} </<td>
                                        {{/studyAmounttype3}}</tr>
                                        <tr>{{#studyAmounttype4}}
                                            <td> {{ studyAmounttype4 }} </<td>
                                            <td> {{ studyAmountrequiredDescription4 }} </<td>
                                            <td> {{ studyAmountrequiredDuration4 }} </<td>
                                        {{/studyAmounttype4}}</tr>
                                        <tr>{{#studyAmounttype5}}
                                            <td> {{ studyAmounttype5 }} </<td>
                                            <td> {{ studyAmountrequiredDescription5 }} </<td>
                                            <td> {{ studyAmountrequiredDuration5 }} </<td>
                                        {{/studyAmounttype5}}</tr>
                                        <tfoot>
                                            <tr>
                                                <td> total Study Hours </<td>
                                                <td> {{ totalStudyHours }} Hours </<td>
                                                <td> PT{{ totalStudyHours }} </<td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="wrap-collabsible">
                        <input id="collapsible6" class="toggle" type="checkbox">
                        <label for="collapsible6" class="lbl-toggle" tabindex="5">Assessment Schedule</label>

                        <div class="collapsible-content">
                            <div class="content-inner">
                                <section>
                                    <table class="fancy-table">
                                        <tr>
                                            <th> Assessment Name </th>
                                            <th> Assessment Type </th>
                                            <th> Duration </th>
                                            <th> Weight </th>
                                            <th> Description </th> 
                                        </tr>
                                        <tr>{{#assesmentGrpname0}}
                                            <td> {{ assesmentGrptype0 }} </<td>
                                            <td> {{ assesmentGrpname0 }} </<td>
                                            <td> {{ assesmentGrplength0 }} </<td>
                                            <td> {{ assesmentGrpweighting0 }} </<td>
                                            <td> {{ assesmentGrpdescription0 }} </<td>
                                        {{/assesmentGrpname0}}</tr>
                                        <tr>{{#assesmentGrpname1}}
                                            <td> {{assesmentGrptype1}} </<td>
                                            <td> {{ assesmentGrpname1 }} </<td>
                                            <td> {{ assesmentGrplength1 }} </<td>
                                            <td> {{ assesmentGrpweighting1 }} </<td>
                                            <td> {{ assesmentGrpdescription1 }} </<td>
                                        {{/assesmentGrpname1}}</tr>
                                        <tr>{{#assesmentGrpname2}}
                                            <td> {{assesmentGrptype2}} </<td>
                                            <td> {{ assesmentGrpname2 }} </<td>
                                            <td> {{ assesmentGrplength2 }} </<td>
                                            <td> {{ assesmentGrpweighting2 }} </<td>
                                            <td> {{ assesmentGrpdescription2 }} </<td>
                                        {{/assesmentGrpname2}}</tr>
                                        <tr>{{#assesmentGrpname3}}
                                            <td> {{assesmentGrptype3}} </<td>
                                            <td> {{ assesmentGrpname3 }} </<td>
                                            <td> {{ assesmentGrplength3 }} </<td>
                                            <td> {{ assesmentGrpweighting3 }} </<td>
                                            <td> {{ assesmentGrpdescription3 }} </<td>
                                        {{/assesmentGrpname3}}</tr>
                                        <tr>{{#assesmentGrpname4}}
                                            <td> {{assesmentGrptype4}} </<td>
                                            <td> {{ assesmentGrpname4 }} </<td>
                                            <td> {{ assesmentGrplength4 }} </<td>
                                            <td> {{ assesmentGrpweighting4 }} </<td>
                                            <td> {{ assesmentGrpdescription4 }} </<td>
                                        {{/assesmentGrpname4}}</tr>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-2 bolded_italized font_small">Total Exam Weight:</div>
                                        <div class="col-sm-2 italized font_small">{{totalExamWeighting}} %</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 bolded_italized font_small">Total Course Weight:</div>
                                        <div class="col-sm-2 italized font_small ">{{totalCourseworkWeighting}} %</div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-collabsible"> 
                        <input id="collapsible7" class="toggle" type="checkbox"> 
                        <label for="collapsible7" class="lbl-toggle" tabindex="6">Private Study Description </label>
                        <div class="collapsible-content">
                            <div class="content-inner">
                                <div class="indented">
                                    {{#privateStudyDescription}} <p class="paragraph-list"> {{.}} </p> {{/privateStudyDescription}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wrap-collabsible">
                        <input id="collapsible8" class="toggle" type="checkbox"> 
                        <label for="collapsible8" class="lbl-toggle" tabindex="7">Subject Specific Skills </label>
                        <div class="collapsible-content">   
                            <div class="content-inner">
                                <div class="indented">
                                    {{#subjectSpecificSkills}} <p class="paragraph-list"> {{.}} </p> {{/subjectSpecificSkills}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wrap-collabsible"> 
                        <input id="collapsible9" class="toggle" type="checkbox"> 
                        <label for="collapsible9" class="lbl-toggle" tabindex="8">Transferable Skills </label>
                        <div class="collapsible-content">   
                            <div class="content-inner">
                                <div class="indented">
                                    {{#transferableSkills}} <p class="paragraph-list"> {{.}} </p> {{/transferableSkills}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menu3" class="tab-pane fade">
                <div id="wmshead-content" class="p-3 p-md-4 view">
                    <div class="contact">
                        <h3 class="contact-icon"><i class="fa fa-address-card" aria-hidden="true"> </i><b> Key people and contacts</b></h3>
                        <hr>
                        <div id="head-contact-box" class="contact-info">
                            <table class="fancy-table">
                                <tr>
                                    <td class="bolded"> Course Tutor: </td>
                                    <td class="italized">{{ leadername }} </td>
                                </tr>
                                <tr>
                                    <td class="bolded"> Course Tutor e_Mail address:</td>
                                    <td class="italized"> <a href="mailto:{{ leaderemail }}"> {{ leaderemail }} </a> </td>
                                </tr>
                                {{#adminname}}<tr>
                                    <td class="bolded"> Student Administrator Name:  </td>
                                    <td class="italized"> {{adminname}} </td>
                                </tr>{{/adminname}}
                                {{#adminemail}}<tr>
                                    <td class="bolded">Student Administration e-Mail:  </td>
                                    <td class="italized"> <a href="mailto:{{ adminemail }}">{{ adminemail }} </a> </td>
                                </tr>{{/adminemail}}
                                <tr>
                                    <td class="bolded"> Department: </td>
                                    <td class="italized"> {{ department }} </td>
                                </tr>
                                <tr>
                                    <td class="bolded"> Faculty: </td>
                                    <td class="italized"> {{ facultyname }} </td>
                                </tr>
                                <tr>
                                    <td class="bolded"> Location: </td>
                                    <td class="italized"> {{ locationname }} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="war-bot" class="war-bot"><br></div>
