<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ code }}: {{ name }}</h1>
    <p class="lead">{{ principal_aims }}</p>

    <p>
	<H4>Principal aims</H4>
		{{ principalaims }}

    </p>
	<p>
	<H4>Principal Learning Outcomes</H4>
		{{ principial_learningoutcomes }}
	</p>
  </div>
</div>
