<head>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>
   
<div id="allwmshead" class="wms-head-cll">
    <div id="wmshead-content" class="p-3 p-md-4 view">
        <div id="head-temp-container" class="standard_rounded">
            {{#alert}}<div class="alertinformation">
                {{#alertmessage}}<i class="fa fa-info-circle"> &nbsp </i>{{.}}{{/alertmessage}} <a class="alertlink" href= {{ urllink }} > {{ urllink }} </a> 
            </div>{{/alert}}

            
            <h4 class="display-5">{{ code }}: {{ name }}</h3>
            <p class='urllinks'>See Module Catalogue  <a href='{{catalogueurl }}'>{{catalogueurl}}</a></p>

            <h5 class="display-5"> Number of Credits: {{ creditValue }}</h5>
            <h5 class="display-5"> Academic Year:  {{ academicyear }}</h5>
            
            <hr>           

            <div class="accordion-toggle" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                
                <div class="card">
                    <div class="card-header" role="tab" id="heading1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id1}}" aria-expanded="false" aria-controls="{{id1}}">
                            <h6 class="mb-0">
                                Module Aims <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id1}}" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Module Aims</p>
                            <div class="indented">
                                {{#principal_aims}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/principal_aims}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card">
                <!-- Card header -->
                    <div class="card-header" role="tab" id="heading2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id2}}" aria-expanded="false" aria-controls="{{id2}}">
                            <h6 class="mb-0">
                                Study Requirements<i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="{{id2}}" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Study Requirements</p>
                            <table class="fancy-table">
                                <tr>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Duration</th>
                                </tr>
                                {{#studyAmounts}}<tr>
                                    <td> {{ type }} </td>
                                    <td> {{ requiredDescription }} </td>
                                    <td> {{ requiredDuration }}</td>
                                </tr>{{/studyAmounts}}
                            
                            
                                <tfoot>
                                    <tr>
                                        <td> Total Study Hours </td>
                                        <td> {{ totalStudyHours }} Hours </td>
                                        <td> PT{{ totalStudyHours }} </td> 
                                    </tr>
                                </tfoot>
                            </table>
                            <p class="display-5 bolded">Private Study:</p>
                            <div class="indented">
                                {{#privateStudyDescription}} <p class="paragraph-list"> {{.}} </p> {{/privateStudyDescription}}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="heading3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id3}}" aria-expanded="false" aria-controls="{{id3}}">
                                <h6 class="mb-0">
                                Outline Syllabus <i class="fa fa-chevron-down pull-right"></i>
                                </h6>
                            </a>
                        </div>
                    <div id="{{id3}}" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Outline Syllabus</p>
                            <div class="indented">
                                <p> This is an indicative module outline only to give an indication of the sort of topics that may be covered. Actual sessions held may differ:</p>
                                <article>
                                    <div class="indented">{{#outlineSyllabusShort}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/outlineSyllabusShort}}</div>
                                        <input id="{{id4}}" class="read-more-toggle" type="checkbox">
                                        <div class="read-more-content">
                                        <div class="indented">{{#outlineSyllabus}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/outlineSyllabus}}</div>
                                    </div>
                                </article>
                                <label class="read-more-toggle-label" for="{{id4}}">Read </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="heading4">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id5}}" aria-expanded="false" aria-controls="{{id5}}">
                            <h6 class="mb-0">
                                Subject Specific Skills <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id5}}" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Subject Specific Skills</p>
                            <div class="indented">
                                {{#subjectSpecificSkills}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/subjectSpecificSkills}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="heading5">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id6}}" aria-expanded="false" aria-controls="{{id6}}">
                            <h6 class="mb-0">
                                Indicative Reading List <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>

                    <div id="{{id6}}" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Indicative Reading List</p>
                            <div class="indented">
                                <article>
                                    <div class="indented">{{#indicativeReadingListSummary}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/indicativeReadingListSummary}}</div>
                                        <input id="{{id7}}" class="read-more-toggle" type="checkbox">
                                        <div class="read-more-content">
                                        <div class="indented">{{#indicativeReadingList}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/indicativeReadingList}}</div>
                                    </div>
                                </article>
                                <label class="read-more-toggle-label" for="{{id7}}">Read </label>
                                <div class="italized"><a href='{{ readingListUrl }}'>View reading list on Talis Aspire</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="heading6">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id8}}" aria-expanded="false" aria-controls="{{id8}}">
                            <h6 class="mb-0">
                                Principal Learning Outcomes <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id8}}" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Principal Learning Outcomes</p>
                            <p> By the end of the module, students should be able to:</p>
                            <div class="indented">
                                {{#learningOutcomes}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/learningOutcomes}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="heading7">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id9}}" aria-expanded="false" aria-controls="{{id9}}">
                            <h6 class="mb-0">
                                Assessment Schedule <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="{{id9}}" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Assessment Schedule</p>
                            <div class="indented">
                                <section>
                                    <table class="fancy-table">
                                        <tr>
                                            <th> Assessment Name </th>
                                            <th> Assessment Type </th>
                                            <th> Duration </th>
                                            <th> Weight </th>
                                            <th> Description </th>
                                        </tr>
                                        {{#assessments}}<tr>
                                            <td> {{ type }} </<td>
                                            <td> {{ name }} </<td>
                                            <td> {{ length }} </<td>
                                            <td> {{ weighting }} </<td>
                                            <td> {{ description }} </td>
                                        </tr>{{/assessments}} 
                                    </table>                                 
                                </section>
                            </div>
                            <p class="display-5 bolded">Assessment Resit Schedule</p>
                            <div class="indented">
                                <table class="fancy-table">
                                    <tr>
                                        <th> Assessment Name </th>
                                        <th> Assessment Type </th>
                                        <th> Duration </th>
                                        <th> Weight </th>
                                        <th> Description </th>
                                    </tr>
                                    <tr>{{#resit}}
                                        <td> {{ type }} </td>
                                        <td> {{ name }} </td>
                                        <td> {{ length }} </td>
                                        <td> {{ weighting }} </<td>
                                        <td> {{ description }} </td>
                                    {{/resit}}</tr>                                  
                                </table>
                            </div>
                            <p class="display-5 bolded">Assessment Summary</p>
                            <div class="indented">
                                {{#assessmentstotalExamWeighting}}<div class="row">
                                    <div class="col-sm-2 bolded_italized font_small">Total Exam Weight:</div>
                                    <div class="col-sm-2 italized font_small">{{assessmentstotalExamWeighting}} %</div>
                                    </div>{{/assessmentstotalExamWeighting}}
                                     {{#assessmentstotalCourseworkWeighting}}<div class="row">
                                    <div class="col-sm-2 bolded_italized font_small">Total Course Weight:</div>
                                    <div class="col-sm-2 italized font_small ">{{assessmentstotalCourseworkWeighting}} %</div>
                                    </div>{{/assessmentstotalCourseworkWeighting}}
                                    {{#resittotalExamWeighting}}<div class="row">
                                    <div class="col-sm-2 bolded_italized font_small">Total Resit Exam Weight:</div>
                                    <div class="col-sm-2 italized font_small ">{{resittotalExamWeighting}} %</div>
                                </div>{{/resittotalExamWeighting}}
                                {{#resittotalCourseworkWeighting}}<div class="row">
                                    <div class="col-sm-2 bolded_italized font_small">Total Resit Course Weight:</div>
                                    <div class="col-sm-2 italized font_small ">{{resittotalCourseworkWeighting}} %</div>
                                </div>{{/resittotalCourseworkWeighting}}
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="heading8">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id10}}" aria-expanded="false" aria-controls="{{id10}}">
                            <h6 class="mb-0">
                                Introductory Description <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id10}}" class="collapse" role="tabpanel" aria-labelledby="heading9" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Introductory Description</p>
                            <div class="indented">
                                {{#introductoryDescription}} <p class="paragraph-list"> {{.}} </p> {{/introductoryDescription}}
                            </div>
                        </div>
                    </div>
                </div>

                {{#availability}}<div class="card">
                    <div class="card-header" role="tab" id="heading9">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id11}}" aria-expanded="false" aria-controls="{{id11}}">
                            <h6 class="mb-0">
                                Availability <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id11}}" class="collapse" role="tabpanel" aria-labelledby="heading9" data-parent="#accordionEx">
                        <div class="card-body">

                            {{! Other-prerequisite modules: }}
                            {{#otherPreRequisites}}<div class="indented">
                                <h6 class="display-5 bolded">Pre-requisites</h6>
                                <div class="indented">
                                    <div class="indented">
                                        <p class="paragraph-list bulletlist"> {{otherPreRequisites}} </p> 
                                    </div>
                                </div>
                            </div>{{/otherPreRequisites}}

                            {{! Pre-requisite modules: }}
                            {{#ispreRequisiteModules}}<div class="indented">
                                <h6 class="display-5 bolded">Pre-requisite modules</h6>
                                <div class="indented">
                                    <div style='italized'>To take this module, you must have passed: <Br> All of</div>
                                    <div class="indented">
                                        {{#preRequisiteModules}} 
                                            <a href= {{courseURL}} > <p class="paragraph-list bulletlist">  {{code}} {{title}}  </p> </a>                                          
                                        {{/preRequisiteModules}} 
                                    </div>
                                </div>
                            </div>{{/ispreRequisiteModules}}

                            {{! Post-requisite modules: }}
                            <div class="indented">
                                {{#ispostRequisiteModules}}<p class="display-5 bolded">Post-requisite modules</p>
                                <p class="indented">If you pass this module, you can take:</p>{{/ispostRequisiteModules}}
                                <div class="indented">
                                    {{#postRequisiteModules}} <div class="indented"> <p class="paragraph-list bulletlist"> {{code}} {{title}} </p> </div> {{/postRequisiteModules}}
                                </div>
                            </div>

                            {{! Anti Requisite Modules }}
                            {{#isantiRequisiteModules}}<div class="indented">
                                <p class="display-5 bolded">Anti Requisite Modules</p>
                                <div class="indented">
                                    <p class="indented">If you take this module, you cannot also take: </p>
                                    {{#antiRequisiteModules}} <div class="indented"> <p class="paragraph-list bulletlist"> {{code}} {{title}} </p> </div> {{/antiRequisiteModules}}
                                </div>
                            </div>{{/isantiRequisiteModules}}

                            {{! Courses }}
                            <div class="indented">
                                <p class='display-5 bolded'>Courses</p>
                               
                                {{#isCore}}<div class='indented'>
                                    <h6 class='display-5'>This module is Core for:</h6>
                                    <div class="indented">
                                        {{#Core}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/Core}}
                                    </div>
                                </div>{{/isCore}}

                                {{! This module is Core optional for: }}
                                {{#isCoreOptional}}<div class='indented'>
                                    <h6 class='display-5'>This module is Core Optional for:</h6>
                                    <div class="indented">
                                        {{#CoreOption}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/CoreOption}}
                                    </div>
                                </div>{{/isCoreOptional}}

                                {{! This module is Optional for }}
                                {{#isOptional}}<div class='indented'>
                                    <h6 class='display-5'>This module is Optional for:</h6>
                                    <div class="indented">
                                        {{#Optional}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/Optional}}
                                    </div>
                                </div>{{/isOptional}}

                                {{! This module is Core Option list A for: }}
                                {{#isCoreOptionListA}}<div class='indented'>
                                    <h6 class='display-5'>This module is Core Option list A for:</h6>
                                    <div class="indented">
                                        {{#CoreOptionListA}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/CoreOptionListA}}
                                    </div>
                                </div>{{/isCoreOptionListA}}

                                {{! This module is Core Option list B for: }}
                                {{#isCoreOptionListB}}<div class='indented'>
                                    <h6 class='display-5'>This module is Core Option list B for:</h6>
                                    <div class="indented">
                                        {{#CoreOptionListB}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/CoreOptionListB}}
                                    </div>
                                </div>{{/isCoreOptionListB}}

                                {{! This module is Core Option list C for: }}
                                {{#isCoreOptionListC}}<div class='indented'>
                                    <h6 class='display-5'>This module is Core Option list C for:</h6>
                                    <div class="indented">
                                        {{#CoreOptionListC}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/CoreOptionListC}}
                                    </div>
                                </div>{{/isCoreOptionListC}}

                                {{! This module is Core Option list D for: }}
                                {{#isCoreOptionListD}}<div class='indented'>
                                    <h6 class='display-5'>This module is Core Option list D for:</h6>
                                    <div class="indented">
                                        {{#CoreOptionListD}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/CoreOptionListD}}
                                    </div>
                                </div>{{/isCoreOptionListD}}

                                {{! This module is Option list A for }}
                                {{#isOptionalA}}<div class='indented'>
                                    <h6 class='display-5'>This module is Option list A for:</h6>
                                    <div class="indented">
                                        {{#OptionListA}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/OptionListA}}
                                    </div>
                                </div>{{/isOptionalA}}

                                {{! This module is Option list B for }}
                                {{#isOptionalB}}<div class='indented'>
                                    <h6 class='display-5'>This module is Option list B for:</h6>
                                    <div class="indented">
                                        {{#OptionListB}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/OptionListB}}
                                    </div>
                                </div>{{/isOptionalB}}

                                {{! This module is Option list C for }}
                                {{#isOptionalC}}<div class='indented'>
                                    <h6 class='display-5'>This module is Option list C for:</h6>
                                    <div class="indented">
                                        {{#OptionListC}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/OptionListC}}
                                    </div>
                                </div>{{/isOptionalC}}

                                {{! This module is Option list G for }}
                                {{#isOptionalG}}<div class='indented'>
                                    <h6 class='display-5'>This module is Option list G for:</h6>
                                    <div class="indented">
                                        {{#OptionListG}}
                                            <p class="paragraph-list bulletlist"> {{courseCode}} {{ courseName }} </p> 
                                            {{#routes}}<div class="indented">
                                                {{> mod_modulecatalogue/pagerow}}
                                            </div>{{/routes}}
                                        {{/OptionListG}}
                                    </div>
                                </div>{{/isOptionalG}}
                            </div>
                        </div>        
                    </div>
                </div>{{/availability}}

                <div class="card">
                    <div class="card-header" role="tab" id="heading10">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id12}}" aria-expanded="false" aria-controls="{{id11}}">
                            <h6 class="mb-0">
                                Transferable Skills <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id12}}" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Transferable Skills</p>
                            <div class="indented">
                                <div class="indented">{{#transferableSkills}} <p class="paragraph-list bulletlist"> {{.}} </p> {{/transferableSkills}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="heading11">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{id13}}" aria-expanded="false" aria-controls="{{id11}}">
                            <h6 class="mb-0">
                                Contacts <i class="fa fa-chevron-down pull-right"></i>
                            </h6>
                        </a>
                    </div>
                    <div id="{{id13}}" class="collapse" role="tabpanel" aria-labelledby="heading11" data-parent="#accordionEx">
                        <div class="card-body">
                            <p class="display-5 bolded">Contacts</p>
                            <div class="indented">
                                <table class="fancy-table">
                                    <tr>
                                        <td class="bolded"> Course Tutor: </td>
                                        <td class="italized">{{ leadername }} </td>
                                    </tr>
                                    <tr>
                                        <td class="bolded"> Course Tutor e_Mail address:</td>
                                        <td class="italized"> <a href="mailto:{{ leaderemail }}"> {{ leaderemail }} </a> </td>
                                    </tr>
                                    {{#adminname}}<tr>
                                        <td class="bolded"> Student Administrator Name:  </td>
                                        <td class="italized"> {{adminname}} </td>
                                    </tr>{{/adminname}}
                                    {{#adminemail}}<tr>
                                        <td class="bolded">Student Administration e-Mail:  </td>
                                        <td class="italized"> <a href="mailto:{{ adminemail }}">{{ adminemail }} </a> </td>
                                    </tr>{{/adminemail}}
                                    <tr>
                                        <td class="bolded"> Department: </td>
                                        <td class="italized"> {{ department }} </td>
                                    </tr>
                                    <tr>
                                        <td class="bolded"> Faculty: </td>
                                        <td class="italized"> {{ facultyname }} </td>
                                    </tr>
                                    <tr>
                                        <td class="bolded"> Location: </td>
                                        <td class="italized"> {{ locationname }} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>          
</div>


