<head>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3> {{ code }} : {{ name }} </h3>
    <h5 class="display-5"> Outline Syllabus </h5>
    <p class="normal-paragraph"> This is an indicative module outline only to give an indication of the sort of topics that may be covered. Actual sessions held may differ.</p>
    <article>
            {{#outlineSyllabusShort}} <li class="paragraph-list"><i> {{.}}</i> </li> {{/outlineSyllabusShort}}
                <input id="read-more-toggle-1" class="read-more-toggle" type="checkbox">
                    <div class="read-more-content">
                        {{#outlineSyllabus}} <li class="paragraph-list"> <i>{{.}}</i> </li> {{/outlineSyllabus}}
                    </div>
            <label class="read-more-toggle-label" for="read-more-toggle-1">Read </label>
    </article>
  </div>
</div>
</body>
